* {
  box-sizing: border-box;
  background-color: rgb(179, 193, 193);
}

body {
  font-family: sans-serif;
}

.form {
  max-width: 500px;
  border-radius: 10px;
  border-color: #000;
}

.form-group-name {
  display: block;
  margin: 10px 0;
  width: 500px;
}

.input,
.textarea {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 7px;
  width: 300px;
  background-color: rgb(158, 192, 192);
}

.textarea {
  max-height: 200px;
  min-height: 30px;
  resize: vertical;
}

button {
  display: block;
  border-radius: 5px;
  border: none;
  background-color: rgb(239, 239, 229);
  padding: 5px 15px;
}

.checkbox {
  margin: 10px 0;
  width: auto;
  display: inline;
  cursor: pointer;
}

.button {
  cursor: pointer;
}
