@media (width > 992px) {
  .bonus {
    padding-bottom: 180px;
  }
}

@media (width <= 992px) {
  .bonus {
    padding-bottom: 100px;
  }
}

.bonus__container {
  display: flex;
  flex-direction: column;
}

.bonus__title {
  text-align: center;
}

.bonus__subtitle {
  max-width: 632px;
  margin: 35px auto;
}

.bonus__buttons {
  display: flex;
  gap: 20px;
  margin: 0 auto;
}
