@media (width > 992px) {
  .invest-phone {
    padding-bottom: 150px;
  }
}

@media (width <= 992px) {
  .invest-phone {
    padding-bottom: 50px;
  }
}

.invest-phone {
  display: flex;
  align-items: center;
  gap: 40px;
}

@media (width > 992px) {
  .laptop {
    margin-bottom: 200px;
  }
}

@media (width <= 992px) {
  .laptop {
    margin-bottom: 100px;
  }
}

@media (width <= 992px) {
  .invest-phone__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.invest-phone__description {
  text-align: start;
  margin-top: 25px;
  margin-bottom: 50px;
}

.invest-phone .phone {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.invest-phone__buttons {
  display: flex;
  gap: 15px;
}

@media (width <= 505px) {
  .invest-phone__buttons {
    flex-direction: column;
    align-items: center;
  }
}

.invest-phone__button {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 35px;
  background-color: var(--bg-main);
  font-size: 16px;
  color: var(--main-color);
}

.apple-button {
  position: relative;
  cursor: pointer;
  transition: transform var(--transition-time);
  text-decoration: none;
  padding: 15px 30px 15px 45px;
}

.apple-button::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 10%;
  width: 15px;
  height: 20px;
  background: url(../../icons/apple-icon.svg) no-repeat;
}

.apple-button:hover {
  transform: scale(0.9);
}

.android-button {
  position: relative;
  cursor: pointer;
  transition: transform var(--transition-time);
  text-decoration: none;
  padding: 15px 30px 15px 45px;
}

.android-button::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 8%;
  width: 18px;
  height: 20px;
  background: url(../../icons/android-icon.svg) no-repeat;
}

.android-button:hover {
  transform: scale(0.9);
}

@media (width <= 992px) {
  .invest-phone {
    text-align: center;
  }

  .invest-phone__img {
    display: none;
  }

  .laptop--none {
    display: none;
  }

  .laptop {
    margin-bottom: 0;
  }
}
