.top-shares__section {
  padding-bottom: 70px;
}

.top-shares__container {
  position: relative;
}

.top-shares__title {
  max-width: 825px;
}

.top-shares__list {
  padding-left: 40px;
}

@media (width > 992px) {
  .top-shares__list {
    margin-top: 13px;
    margin-bottom: 36px;
  }
}

@media (width <= 992px) {
  .top-shares__list {
    margin-top: 8px;
    margin-bottom: 20px;
  }
}

@media (width > 992px) {
  .top-shares__item {
    list-style: disc;
    font-weight: 300;
    font-size: clamp(12px, 0.525rem + 1.13vw, 30px);
    line-height: 159%;
    color: var(--invest-color);
  }
}

@media (width <= 992px) {
  .top-shares__item {
    list-style: disc;
    font-weight: 400;
    font-size: clamp(12px, 0.525rem + 1.13vw, 30px);
    line-height: 159%;
    color: var(--invest-color);
  }
}

.top-shares__buttons {
  display: flex;
  gap: clamp(15px, 0.142rem + 3.98vw, 50px);
}

@media (width > 992px) {
  .top-shares__buttons {
    margin-bottom: 50px;
  }
}

@media (width <= 992px) {
  .top-shares__buttons {
    margin-bottom: 15px;
  }
}

.top-shares__users {
  display: flex;
  align-items: center;
  gap: 12px;
}

.users__description {
  width: 235px;
  font-weight: 500;
  font-size: clamp(12px, 0.675rem + 0.38vw, 18px);
  line-height: 126%;
  color: var(--main-color);
}

.top-shares__image-phone {
  position: absolute;
  content: "";
  top: -10%;
  left: 65%;
  z-index: var(--layer-negative);
  width: 583px;
  height: 947px;
}

.top-shares__arrow {
  content: "";
  position: absolute;
  bottom: 35%;
  left: -5%;
  width: 43px;
  height: 158px;
}

@media (width <= 992px) {
  .top-shares__image-phone {
    display: none;
  }
}

@media (width <= 1350px) {
  .top-shares__arrow {
    display: none;
  }
}
