.header__buttons {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

@media (width > 968px) {
  .button__enter {
    padding: 15px 20px;
    margin-right: 10px;
    border: 1px solid #ce6a33;
    border-radius: 15px;
    background-color: var(--bg-stroke-button);
    color: var(--main-color);
    transition: transform var(--transition-time);
  }

  .button__enter:hover {
    transform: scale(0.9);
  }

  .button__enter:active {
    background: var(--bg-header);
  }
}

@media (width <= 968px) {
  .button__enter {
    font-weight: 500;
    font-size: 12px;
    padding: 15px 20px;
    margin-right: 10px;
    border: 1px solid #ce6a33;
    border-radius: 15px;
    background-color: var(--bg-stroke-button);
    color: var(--main-color);
    transition: transform var(--transition-time);
  }

  .button__enter:hover {
    transform: scale(0.9);
  }

  .button__enter:active {
    background: var(--bg-header);
  }
}

@media (width > 968px) {
  .button__open-account {
    font-weight: 700;
    text-align: center;
    padding: 15px 35px;
    border-radius: 15px;
    box-shadow:
      inset 0 -4px 0 0 #8f4119,
      0 3px 49px -3px rgba(226, 128, 72, 0.76);
    background: linear-gradient(
      57deg,
      #dc6b30 0%,
      #e4864f 42.19%,
      #ffbe82 72.92%,
      #e49031 100%
    );
    transition: transform var(--transition-time);
  }

  .button__open-account:hover {
    transform: scale(0.9);
  }
}

@media (width <= 968px) {
  .button__open-account {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 15px 35px;
    border-radius: 15px;
    box-shadow:
      inset 0 -4px 0 0 #8f4119,
      0 3px 49px -3px rgba(226, 128, 72, 0.76);
    background: linear-gradient(
      57deg,
      #dc6b30 0%,
      #e4864f 42.19%,
      #ffbe82 72.92%,
      #e49031 100%
    );
    transition: transform var(--transition-time);
  }

  .button__open-account:hover {
    transform: scale(0.9);
  }
}
