@media (width > 992px) {
  .companies {
    padding-bottom: 150px;
  }
}

@media (width <= 992px) {
  .companies {
    padding-bottom: 60px;
  }
}
.companies__title {
  text-align: center;
  margin-bottom: 23px;
  font-size: clamp(25px, 0.584rem + 4.89vw, 70px);
}

.companies__subtitle {
  max-width: 651px;
  margin: 0 auto;
  text-align: center;
}

.companies__accent {
  font-weight: 700;
}

.companies__description {
  margin-bottom: 35px;
}

@media (width > 992px) {
  .companies__company {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 75px;
    margin: 110px auto;
  }
}

@media (width <= 992px) {
  .companies__company {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 20px auto;
  }
}

.companies__company-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.companies__percent {
  font-size: clamp(12px, 0.359rem + 1.96vw, 30px);
  color: var(--numbers-color);
}

.companies__price {
  font-size: clamp(10px, 0.408rem + 1.09vw, 20px);
  color: var(--main-color);
  border-radius: 18px;
  background: var(--bg-companies);
  padding: 10px 15px;
}

@media (width > 992px) {
  .amazon,
  .yandex,
  .microsoft {
    transform: translateY(-25%);
  }
}

.companies__button {
  margin: 0 auto;
}
