@media (width > 968px) {
  .invest-phone__container {
    margin-bottom: 250px;
  }
}

@media (width <= 968px) {
  .invest-phone__container {
    margin-bottom: 120px;
  }
}

.invest-phone {
  display: flex;
  align-items: center;
  gap: 40px;
}

.laptop {
  margin-bottom: 200px;
}

.invest-phone__description {
  text-align: start;
  margin-top: 25px;
  margin-bottom: 50px;
}

.invest-phone .phone {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.invest-phone__button {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 35px;
  background-color: var(--bg-main);
  padding: 15px 30px 15px 45px;
  font-size: 16px;
  color: var(--main-color);
}

.apple-button {
  position: relative;
  cursor: pointer;
  transition: transform var(--transition-time);
}

.apple-button::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 10%;
  width: 15px;
  height: 20px;
  background: url(../../icons/apple-icon.svg) no-repeat;
}

.apple-button:hover {
  transform: scale(0.9);
}

.android-button {
  position: relative;
  cursor: pointer;
  transition: transform var(--transition-time);
}

.android-button::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 8%;
  width: 18px;
  height: 20px;
  background: url(../../icons/android-icon.svg) no-repeat;
}

.android-button:hover {
  transform: scale(0.9);
}

@media (width <= 968px) {
  .invest-phone {
    text-align: center;
  }

  .invest-phone__img {
    display: none;
  }

  .laptop--none {
    display: none;
  }

  .laptop {
    margin-bottom: 0;
  }

  .apple-button {
    margin-bottom: 10px;
  }
}
