* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--main-color);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.page--no-scroll {
  overflow-y: hidden;
}

.page__body {
  min-width: 375px;
  min-height: 200vh;
  background-color: var(--bg-main);
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

section {
  overflow: hidden;
}

img {
  object-fit: cover;
  max-width: 100%;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

li {
  list-style: none;
}

.subtitle {
  font-size: clamp(12px, 0.467rem + 1.41vw, 25px);
  line-height: 158%;
  text-align: center;
}

.title-large {
  font-weight: 700;
  font-size: clamp(30px, 1.35rem + 2.63vw, 75px);
  line-height: 117%;
}

.arrowup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: var(--layer-2);
  background-color: var(--bg-main);
  box-shadow: var(--shadow-arrow);
  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: box-shadow var(--transition-time-medium);
}

#bonus,
#tariffs,
#referral,
#contacts {
  scroll-margin-top: 150px;
}
